/* ===================================
=body
=================================== */

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background);

  &.has-menu {
    overflow-y: hidden;

    @include breakpoint(large) {
      overflow-y: auto;
    }
  }
}

body[data-page-background="home"] {
  background-image: url(../img/bkg_home_800.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;

  @include breakpoint(medium) {
    background-image: url(../img/bkg_home_1024.jpg);
  }

  @include breakpoint(large) {
    background-image: url(../img/bkg_home_1500.jpg);
  }
}
