/* ===================================
=nuke margin block start
=================================== */

*,
*::before,
*::after {
  margin-block-start: 0;
}

/* ===================================
=address
=================================== */

address {
  font-style: normal;
}

/* ===================================
=address
=================================== */

summary::-webkit-details-marker {
  display: none;
}
