/* ===================================
=nuke margin block start
=================================== */

*,
*::before,
*::after {
  margin-block-start: 0;
}

/* ===================================
=search fields
=================================== */

input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* ===================================
=address
=================================== */

address {
  font-style: normal;
}

/* ===================================
=summary
=================================== */

summary::-webkit-details-marker {
  display: none;
}
