// ===================================
// =page title
// ===================================

.c-pagetitle {
  font-family: var(--fontstack-alt);
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(32px, 1rem + 3vw, 74px);
  line-height: 1.08;
  margin-block-end: 0;
  max-width: 14ch;
}

.c-pagetitle > span {
  color: var(--color-accent);
}
