// ===================================
// =mainnav
// ===================================

.c-mainnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(18 / 16 * 1rem);
}

.c-mainnav__link {
  display: inline-block;
  padding-block: calc(3 / 16 * 1rem);
  text-decoration: none;
  color: var(--color-text);
  font-weight: 450;
  font-size: calc(16 / 16 * 1rem);
  font-family: var(--fontstack-alt);
  text-transform: uppercase;
  letter-spacing: 3%;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: var(--color-accent-dark);
  }
}
