// ===================================
// =count
// ===================================

.c-count {
  font-weight: 500;
  padding-block-end: calc(12 / 16 * 1rem);
  margin-block-end: calc(42 / 16 * 1rem);
  border-block-end: 1px solid var(--color-border);
}
