// ===================================
// =call to action link
// ===================================

.c-ctalink {
  display: inline-block;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--fontstack-main);
  padding-block-end: calc(6 / 16 * 1rem);

  border-bottom: 3px solid var(--color-accent);

  text-decoration: none;
  color: var(--color-text);
  transition: border-color 0.2s ease-out;

  &:hover,
  &:focus {
    color: var(--color-text);
    border-color: var(--color-accent-dark);
  }
}
