// ===================================
// =copyright
// ===================================

.c-copyright {
  margin: 0;
  padding-block: calc(12 / 16 * 1rem);
  font-size: calc(14 / 16 * 1rem);
  color: var(--color-text-offset-inverse);
}
