// ===================================
// =mobile navigation
// ===================================

.c-mobilenav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(6 / 16 * 1rem);
}

.c-mobilenav__link {
  display: block;
  padding-block: calc(3 / 16 * 1rem);
  font-weight: 400;
  font-size: calc(29 / 16 * 1rem);
  line-height: 1.2;
  font-family: var(--fontstack-alt);
  color: var(--color-text-inverse);
  text-decoration: none;

  &.is-active,
  &.is-active:hover,
  &.is-active:focus {
    color: var(--color-accent);
  }

  &:hover,
  &:focus {
    color: var(--color-text-inverse);
  }
}
