// ===================================
// =footer title
// ===================================

.c-footertitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  font-family: var(--fontstack-main);
  color: var(--color-text-primary);
  // text-transform: uppercase;
  margin-block-end: calc(12 / 16 * 1rem);
}
