// ===================================
// =sections
// ===================================

.c-section {
  --vpadding: 30px;
  padding-block: var(--vpadding);

  @include breakpoint(medium) {
    --vpadding: 42px;
  }

  @include breakpoint(large) {
    --vpadding: 48px;
  }
}
