// ===================================
// =button
// ===================================

.c-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  vertical-align: middle;

  color: var(--color-text);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--fontstack-main);
  text-decoration: none;

  padding: calc(12 / 16 * 1rem) calc(18 / 16 * 1rem);
  border-radius: 3px;

  background-color: transparent;
  border: 2px solid var(--color-accent);

  transition: border-color 0.3s ease-out;

  &:hover,
  &:focus {
    color: var(--color-text);
    border-color: var(--color-accent-dark);
  }
}

.c-button--primary {
  border: none;

  padding: calc(14 / 16 * 1rem) calc(20 / 16 * 1rem);
  color: var(--color-text);
  background-color: var(--color-accent-bright);
  transition: background-color 0.3s ease-out;

  &:hover,
  &:focus {
    color: var(--color-text);
    background-color: var(--color-accent);
  }
}

.c-button > svg {
  flex: 0 0 auto;
}
