// ===================================
// =footer quote
// ===================================

.c-footerquote {
  font-weight: 400;
  font-size: calc(21 / 16 * 1rem);
  line-height: 1.36;
  font-family: var(--fontstack-alt);
  letter-spacing: 4%;
  color: var(--color-white);
  text-transform: uppercase;
  max-width: 25ch;
  margin-block-end: 0;

  & > span {
    color: var(--color-accent);
  }
}
