// ===================================
// =mobile menu
// ===================================

.c-mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-background-inverse);
  padding: calc(18 / 16 * 1rem);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  z-index: 999;

  display: none;

  &.is-active {
    display: flex;

    animation: appear 0.12s ease-out;

    @include breakpoint(large) {
      display: none;
    }
  }

  @include breakpoint(medium) {
    padding: calc(24 / 16 * 1rem);
  }
}

.c-mobilemenu__header {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-mobilemenu__logo {
  margin-block: 0;
  margin-inline-end: auto;
}

.c-mobilemenu__logo svg {
  display: block;
  color: var(--color-text-inverse);
}

.c-mobilemenu__actions {
  line-height: 0;
}

.c-mobilemenu__action {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

.c-mobilemenu__action svg {
  display: block;
}

.c-mobilemenu__main {
  flex: 1 1 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
