{% set page = pageBackground|default("") %}

<!DOCTYPE html>
<html lang="fr">
  {% include "partials/html-head.njk" %}
  <body data-page-background="{{ pageBackground }}">
    {% include "partials/siteheader.njk" %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include "partials/sitefooter.njk" %}
  </body>
</html>
