---
permalink: /a-propos/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "about" %}

{% block content %}

  <div class="c-section">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Le projet</span> Cinécolab</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <div class="c-bannerimages">
        <div class="c-bannerimages__big">
          <img src="/assets/img/banners_images/girl.jpg"
               srcset="/assets/img/banners_images/girl.jpg 800w
                       /assets/img/banners_images/girl.jpg 1024w"
               sizes="100vw"
               class="u-grayscale o-fluidimg"
               width="1024"
               height="768"
               decoding="async"
               alt="Fille sur un banc tenant une caméra">
        </div>
        <div class="c-bannerimages__small">
          <img src="/assets/img/banners_images/camera.jpg"
               srcset="/assets/img/banners_images/camera.jpg 600w
                       /assets/img/banners_images/camera.jpg 800w"
               sizes="100vw"
               class="u-grayscale o-fluidimg"
               width="800"
               height="800"
               decoding="async"
               alt="Vue depuis l'arrière d'une caméra">
        </div>
      </div>

    </div>
  </div>

  <div class="c-section">
    <div class="l-container">
      <h2 class="c-sectiontitle">Le projet</h2>

      <div class="l-half">
        <div>
          <p>Cinécolab est une initiative de 4 écoles de cinéma belges (HELB, INSAS, IAD, la Cambre). Nous pensons que l'industrie du cinéma doit faire sa part pour relever les défis écologiques et sociétéaux.</p>
          <p>Pour nous, il est capital de former les étudiants et de sensibiliser les enseignants ainsi que les professionnels de l'industrie cinématographique. Cinécolab a pour objectif de compiler des ressources, de lancer des initiatives et de proposer des formations pour faire évoluer les pratiques du secteur.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="c-section">
      <div class="l-container">
        <h2 class="c-sectiontitle">Nos valeurs</h2>

        <div class="l-half">
          <ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--full@medium  l-grid--2cols@large">
            <li>
              <article class="c-value">
                <h3 class="c-value__title">Partage</h3>
                <p class="c-value__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae dolorem, facere, perspiciatis ad quia suscipit, cumque incidunt laudantium hic perferendis.</p>
              </article>
            </li>
            <li>
              <article class="c-value">
                <h3 class="c-value__title">Formation</h3>
                <p class="c-value__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae dolorem, facere, perspiciatis ad quia suscipit, cumque incidunt laudantium hic perferendis.</p>
              </article>
            </li>
            <li>
              <article class="c-value">
                <h3 class="c-value__title">Sobriété</h3>
                <p class="c-value__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae dolorem, facere, perspiciatis ad quia suscipit, cumque incidunt laudantium hic perferendis.</p>
              </article>
            </li>
            <li>
              <article class="c-value">
                <h3 class="c-value__title">Inclusion</h3>
                <p class="c-value__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae dolorem, facere, perspiciatis ad quia suscipit, cumque incidunt laudantium hic perferendis.</p>
              </article>
            </li>
          </ul>
        </div>

      </div>
    </div>

  <div class="c-section">
    <div class="l-container">
      <h2 class="c-sectiontitle">Contact</h2>

      <div class="l-half">
        <div class="l-grid  l-grid--colgap  l-grid--2cols@small  l-grid--full@medium  l-grid--2cols@large">
          <div>
            <address>
              <p>
                Cinécolab<br>
                Route de Blocry, 5<br>
                1348 Louvain-la-Neuve
              </p>
            </address>
          </div>
          <div>
            <p>
              <a href="mailto:info@cinecolab.be">info@cinecolab.be</a><br>
              <a href="tel:0477123456">+ 32 477 123 456</a><br>
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">Nos partenaires</h2>
      <div class="l-half">
        <div>

          <ul class="c-partners">
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="c-partner__logo"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="c-partner__logo"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="u-grayscale o-fluidimg"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="c-partner__logo"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="c-partner__logo"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="c-partner__logo"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
            <li>
              <article class="c-partner">
                <a href="https://www.iad-arts.be">
                  <img src="/assets/img/partners_logos/logo.jpg"
                       loading="lazy"
                       decoding="async"
                       width="600"
                       height="338"
                       class="c-partner__logo"
                       alt="Nom de l'organisation">
                </a>
              </article>
            </li>
          </ul>
        
        </div>
      </div>

    </div>
  </div>

{% endblock %}
 