---
permalink: /blog/post/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "blog" %}

{% set metaTitle = "Blogpost title"  %}
{% set metaDescription = "Blogpost description" %}

{% block content %}

  <div class="c-section">
      
      <article class="c-blogpost">
        
        <div class="c-blogpost__image">
          <div class="l-container  l-container--large">
            <figure class="c-figure">
              <img src="/assets/img/blog_images/1500x1125/velo.jpg"
                   srcset="/assets/img/blog_images/1500x1125/velo.jpg 600w,
                           /assets/img/blog_images/1500x1125/velo.jpg 800w,
                           /assets/img/blog_images/1500x1125/velo.jpg 1024w,
                           /assets/img/blog_images/1500x1125/velo.jpg 1500w"
                   sizes="100vw"
                   class="o-fluidimg  u-grayscale"
                   alt=""
                   decoding="async">
              <figcaption class="c-figure__caption">Un vélo dans la ville - Photo: David Vanpiperzeel on Unsplash</figcaption>
            </figure>
          </div>
        </div>

        <header class="c-blogpost__header">
          <div class="l-container  l-container--medium">
            <p class="c-blogpost__type">Article</p>
            <h1 class="c-h1">Les transports, un poste clef pour réduire l'empreinte carbone</h1>
            <p class="c-blogpost__meta"><time datetime="2023-03-22">22 mars 2023</time> - Jeanne Clerbaux</p>
          </div>
        </header>

        <div class="c-blogpost__body">

          <div class="c-bodyblock  c-bodyblock--text">
            <div class="l-container  l-container--copy">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, excepturi? Officiis nesciunt ea ad reprehenderit eum esse, aliquid, laudantium excepturi iste a facilis ducimus. Atque minima sequi deleniti natus inventore.</p>
              <p>Libero laudantium earum consectetur cupiditate maiores deleniti doloribus labore perferendis dolore qui. Aperiam labore vel in iure cumque iusto asperiores ipsam laboriosam officiis ex numquam eveniet, voluptatem aliquam explicabo at!</p>
              <p>Ullam quia necessitatibus ipsum beatae dolorum obcaecati dolore rem enim similique velit reiciendis, nemo quod eligendi saepe vel odit perspiciatis id, odio exercitationem? At ad repellendus sed unde nisi omnis?</p>
              <p>Necessitatibus, tempora. Eum libero quisquam ut. Eos nemo quis esse quas ducimus sapiente soluta magni non, eius in deleniti nobis nostrum quae quasi similique animi, ea accusantium recusandae dolor omnis.</p>
              <p>Nisi fugit maiores perspiciatis saepe architecto inventore dignissimos, molestias explicabo minima eos delectus quisquam provident tempora veniam debitis voluptas assumenda repudiandae. Alias iusto sequi rerum dolores consectetur voluptatibus blanditiis dolorem!</p>
            </div>
          </div>

          <div class="c-bodyblock  c-bodyblock--image">
            <div class="l-container  l-container--medium">
              <figure class="c-figure">
                <img src="/assets/img/blog_images/1500x1125/tram.jpg"
                     srcset="/assets/img/blog_images/1500x1125/tram.jpg 600w,
                             /assets/img/blog_images/1500x1125/tram.jpg 800w,
                             /assets/img/blog_images/1500x1125/tram.jpg 1024w"
                     sizes="100vw"
                     class="o-fluidimg"
                     alt=""
                     loading="lazy"
                     decoding="async">
                <figcaption class="c-figure__caption">Un tram à Lisbonne - Photo: Evan Verni on Unsplash</figcaption>
              </figure>
            </div>
          </div>

          <div class="c-bodyblock  c-bodyblock--text">
            <div class="l-container  l-container--copy">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, excepturi? Officiis nesciunt ea ad reprehenderit eum esse, aliquid, laudantium excepturi iste a facilis ducimus. Atque minima sequi deleniti natus inventore.</p>
              <p>Libero laudantium earum consectetur cupiditate maiores deleniti doloribus labore perferendis dolore qui. Aperiam labore vel in iure cumque iusto asperiores ipsam laboriosam officiis ex numquam eveniet, voluptatem aliquam explicabo at!</p>
              <p>Ullam quia necessitatibus ipsum beatae dolorum obcaecati dolore rem enim similique velit reiciendis, nemo quod eligendi saepe vel odit perspiciatis id, odio exercitationem? At ad repellendus sed unde nisi omnis?</p>
              <p>Necessitatibus, tempora. Eum libero quisquam ut. Eos nemo quis esse quas ducimus sapiente soluta magni non, eius in deleniti nobis nostrum quae quasi similique animi, ea accusantium recusandae dolor omnis.</p>
            </div>
          </div>

          <div class="c-bodyblock  c-bodyblock--video">
            <div class="l-container  l-container--medium">
              <figure class="c-figure">
                <div class="c-videoplayer  js-videoplayer" 
                     data-video-service="youtube" 
                     data-video-id="yWHdkK5j4yk">
                  <div class="c-videoplayer__placeholder  js-videoplaceholder">
                    <a class="c-videoplayer__link  js-videolink" href="#" aria-label="View video on Youtube">
                      <img src="/assets/img/blog_images/1500x1125/velo.jpg"
                          srcset="/assets/img/blog_images/1500x1125/velo.jpg 600w,
                                  /assets/img/blog_images/1500x1125/velo.jpg 800w,
                                  /assets/img/blog_images/1500x1125/velo.jpg 1024w"
                          sizes="100vw"
                          class="c-videoplayer__img"
                          alt="Un vélo dans la ville"
                          loading="lazy"
                          decoding="async">
                    </a>
                  </div>
                  <template class="js-videotemplate">
                    <iframe allow="autoplay; fullscreen" allowfullscreen></iframe>
                  </template>
                </div>
                <figcaption class="c-figure__caption">Un vélo dans la ville - Photo: Evan Verni on Unsplash</figcaption>
              </figure>
            </div>
          </div>

          <div class="c-bodyblock  c-bodyblock--text">
            <div class="l-container  l-container--copy">
              <p>Nisi fugit maiores perspiciatis saepe architecto inventore dignissimos, molestias explicabo minima eos delectus quisquam provident tempora veniam debitis voluptas assumenda repudiandae. Alias iusto sequi rerum dolores consectetur voluptatibus blanditiis dolorem!</p>
              <p>Voluptatum ratione placeat nostrum veniam quas, fugiat ullam? Voluptate voluptatibus error, vitae atque facere necessitatibus. Minima, officiis. Quia ad atque ab praesentium eius quisquam iste, ducimus voluptates alias temporibus expedita!</p>
              <p>Quae debitis dolor ut reiciendis modi temporibus magni tempora dolore repellat et architecto, eveniet odio ratione at eaque. Ipsa beatae esse ad enim. Autem molestiae saepe commodi architecto at deserunt!</p>
              <p>Natus corrupti mollitia culpa praesentium! Ad non accusantium corporis, harum fugit nemo quibusdam repudiandae dolorem aliquam dolore dolor deserunt quas a veniam? Explicabo eveniet possimus labore dicta iste culpa tempora.</p>
              <p>Voluptates distinctio dicta eveniet atque recusandae perferendis esse ad iste molestiae hic. Necessitatibus ex debitis cumque, dolorum beatae dolorem odit perspiciatis iure, voluptate aspernatur tempora nihil magnam asperiores perferendis rem!</p>
              <p>Ut magni cum rerum dignissimos voluptas itaque aliquid optio quas animi, eius, non eveniet, nemo sunt eaque eos accusamus blanditiis pariatur? Perferendis provident, tempora non ea itaque officia id accusamus!</p>
            </div>
          </div>

        </div>

      </article>

  </div>

{% endblock %}
 