---
permalink: /blog/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "blog" %}

{% block content %}

  <div class="c-section  c-section--pageintro">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Blogposts</span>, articles, interviews</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">Le blog Cinécolab</h2>
    
    </div>
  </div>

{% endblock %}
 