---
permalink: /blog/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "blog" %}

{% block content %}

  <div class="c-section">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Blogposts</span>, articles</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">Le blog Cinécolab</h2>

      <ul class="l-grid  l-grid--gap  l-grid--3cols@medium">
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/castings.jpg"
                     srcset="/assets/img/blog_images/castings.jpg 600w,
                             /assets/img/blog_images/castings.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Une femme filmée conduisant une voiture"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Interview</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Castings engagés et locaux</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/bike.jpg"
                     srcset="/assets/img/blog_images/bike.jpg 600w,
                             /assets/img/blog_images/bike.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Un vélo dans la ville"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Les transports, un poste clef pour réduire l'empreinte carbone</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/lights.jpg"
                     srcset="/assets/img/blog_images/lights.jpg 600w,
                             /assets/img/blog_images/lights.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Un homme tenant un grand diffuseur pour spot"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Et les lumières dans tout ça ?</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-21">21 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/tram.jpg"
                     srcset="/assets/img/blog_images/tram.jpg 600w,
                             /assets/img/blog_images/tram.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Tram à Lisbonne"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Décors et tournages à l'étranger</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/makeup.jpg"
                     srcset="/assets/img/blog_images/makeup.jpg 600w,
                             /assets/img/blog_images/makeup.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Séance de maquillage"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Maquillage et coiffure: ce qui se fait dans d'autres secteurs</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/editing.jpg"
                     srcset="/assets/img/blog_images/editing.jpg 600w,
                             /assets/img/blog_images/editing.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Editing software screen"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Interview</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Post-production, montage et IA</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-21">21 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/bluekey.jpg"
                     srcset="/assets/img/blog_images/bluekey.jpg 600w,
                             /assets/img/blog_images/bluekey.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Tournage VFX sur Bluekey"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Interview</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Empreinte écologique des effets spéciaux numériques</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/scenario.jpg"
                     srcset="/assets/img/blog_images/scenario.jpg 600w,
                             /assets/img/blog_images/scenario.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     alt="Wall of post-its"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Des films écologiques, cela commence par un scénario</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/drone.jpg"
                     srcset="/assets/img/blog_images/drone.jpg 600w,
                             /assets/img/blog_images/drone.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     width="800"
                     height="600"
                     alt="Un drone au décollage"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Drones ou pas drones ?</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-21">21 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/energy.jpg"
                     srcset="/assets/img/blog_images/energy.jpg 600w,
                             /assets/img/blog_images/energy.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     width="800"
                     height="600"
                     alt="Voltmètre"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Interview</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Faire un film: bilan énergétique</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/costumes.jpg"
                     srcset="/assets/img/blog_images/costumes.jpg 600w,
                             /assets/img/blog_images/costumes.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     width="800"
                     height="600"
                     alt="Un vélo dans la ville"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Costumes et accessoires</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-22">22 mars 2023</time></p>
          </article>
        </li>
        <li>
          <article class="c-blogcard">
            <div class="c-blogcard__media">
              <a href="/blog/post/">
                <img src="/assets/img/blog_images/finance.jpg"
                     srcset="/assets/img/blog_images/finance.jpg 600w,
                             /assets/img/blog_images/finance.jpg 800w"
                     sizes="(min-width: 750px) 33vw,
                             100vw"
                     width="800"
                     height="600"
                     alt="Autocollant: 'Money is nothing, art is real'"
                     class="c-blogcard__image  o-fluidimg"
                     loading="lazy"
                     decoding="async">
              </a>
            </div>
            <p class="c-blogcard__type">Article</p>
            <h3 class="c-blogcard__title"><a href="/blog/post/">Cinéma, écologie et financements</a></h3>
            <p class="c-blogcard__date"><time datetime="2023-03-21">21 mars 2023</time></p>
          </article>
        </li>
      </ul>

      <div class="c-pagination">
        <ul class="c-pages">
          <li class="c-pages__item"><a class="c-pages__link" aria-label="first page" href="#">&larr;</a></li>
          <li class="c-pages__item"><a class="c-pages__link  is-active" href="#">1</a></li>
          <li class="c-pages__item"><a class="c-pages__link" href="#">2</a></li>
          <li class="c-pages__item"><a class="c-pages__link" href="#">3</a></li>
          <li class="c-pages__item"><a class="c-pages__link" aria-label="last page" href="#">&rarr;</a></li>
        </ul>
      </div>


    </div>
  </div>

{% endblock %}
 