---
permalink: /formations/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "trainings" %}

{% block content %}

  <div class="c-section  c-section--pageintro">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Formations</span> Workshops</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">Formations Cinécolab</h2>

      <ul class="l-grid  l-grid--gap  l-grid--2cols@medium">
        <li>
          <article class="c-trainingcard">
            <div class="c-trainingcard__media">
              <img src="/assets/img/trainings_images/camera.jpg"
                   srcset="/assets/img/trainings_images/camera.jpg 600w,
                           /assets/img/trainings_images/camera.jpg 1024w"
                   sizes="(min-width: 750px) 50vw,
                           100vw"
                   width="1024"
                   height="1024"
                   alt="Camera"
                   class="u-grayscale  o-fluidimg"
                   loading="lazy"
                   decoding="async">
            </div>
            <div class="c-trainingcard__body">
              <h3 class="c-trainingcard__title">Sensibilisation</h3>
              <p class="c-trainingcard__info">1 jour - Gratuit</p>
              <p class="c-trainingcard__description">Les professeurs sont au cœur de la transmission des métiers de l'audiovisuel aux professionnels de demain. Il est donc essentiel d'être en mesure de partager des pratiques qui ne négligent pas les changements structurels à venir.</p>
              <h4 class="c-smalltitle">Prochaine formation</h4>
              <p class="c-trainingcard__date"><time datetitme="2024-01-22">22 janvier 2024</time></p>
              <address>
                <p class="c-trainingcard__address">
                    IAD Blocry, Grande Salle<br>
                    Route de Blocry, 5<br>
                    1348 Louvain-la-Neuve
                </p>
              </address>
            </div>
            <p><a class="c-ctalink" href="#">Inscriptions</a></p>

          </article>
        </li>
        <li>
          <article class="c-trainingcard">
            <div class="c-trainingcard__media">
              <img src="/assets/img/trainings_images/studio.jpg"
                   srcset="/assets/img/trainings_images/studio.jpg 600w,
                           /assets/img/trainings_images/studio.jpg 1024w"
                   sizes="(min-width: 750px) 50vw,
                           100vw"
                   width="1024"
                   height="1024"
                   alt="Camera"
                   class="u-grayscale  o-fluidimg"
                   loading="lazy"
                   decoding="async">
            </div>
            <div class="c-trainingcard__body">
              <h3 class="c-trainingcard__title">Green Management</h3>
              <p class="c-trainingcard__info">3 jours - Gratuit</p>
              <p class="c-trainingcard__description">Les professeurs sont au cœur de la transmission des métiers de l'audiovisuel aux professionnels de demain. Il est donc essentiel d'être en mesure de partager des pratiques qui ne négligent pas les changements structurels à venir.</p>
              <h4 class="c-smalltitle">Prochaine formation</h4>
              <p class="c-trainingcard__date"><time datetitme="2024-01-22">22 janvier 2024</time></p>
              <address>
                <p class="c-trainingcard__address">
                    IAD Blocry, Grande Salle<br>
                    Route de Blocry, 5<br>
                    1348 Louvain-la-Neuve
                </p>
              </address>
            </div>
            <p><a class="c-ctalink" href="#">Inscriptions</a></p>

          </article>
        </li>
      </ul>


    </div>
  </div>

{% endblock %}
 