---
permalink: /formations/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "trainings" %}

{% block content %}

  <div class="c-section  c-section--pageintro">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Formations</span> Workshops</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">Formations Cinécolab</h2>

      <ul class="l-grid  l-grid--2cols@medium">
        <li>
          <article>
            <div>
              <img src="/assets/img/trainings_images/camera.jpg"
                   srcset="/assets/img/trainings_images/camera.jpg 600w,
                           /assets/img/trainings_images/camera.jpg 1024w"
                   sizes="(min-width: 750px) 50vw,
                           100vw"
                   width="1024"
                   height="1024"
                   alt="Camera"
                   class="u-grayscale  o-fluidimg"
                   loading="lazy"
                   decoding="async">
            </div>
            <div>
              <h3>Sensibilisation</h3>
              <p>1 jour - Gratuit</p>
              <p>Les professeurs sont au cœur de la transmission des métiers de l'audiovisuel aux professionnels de demain. Il est donc essentiel d'être en mesure de partager des pratiques qui ne négligent pas les changements structurels à venir.</p>
              <h4>Prochaine formation</h4>
              22 janvier 2024
              <address>
                <p>IAD Blocry, Grande Salle<br>
                Route de Blocry, 5<br>
                1348 Louvain-la-Neuve</p>
              </address>
            </div>
            <p><a class="c-ctalink" href="#">Inscriptions</a></p>

          </article>
        </li>
        <li>
          <article>
            <div>
              <img src="/assets/img/trainings_images/studio.jpg"
                   srcset="/assets/img/trainings_images/studio.jpg 600w,
                           /assets/img/trainings_images/studio.jpg 1024w"
                   sizes="(min-width: 750px) 50vw,
                           100vw"
                   width="1024"
                   height="1024"
                   alt="Camera"
                   class="u-grayscale  o-fluidimg"
                   loading="lazy"
                   decoding="async">
            </div>
            <div>
              <h3>Green management</h3>
              <p>1 jour - Gratuit</p>
              <p>L'octroi de fonds régionaux est souvent conditionné à la présence d'un green manager sur les tournages et pendant la préparation de films. Cette formation vous apportera une certification reconnue par Wallimage, screen.brussels et le Centre du Cinéma.</p>
              <h4>Prochaine formation</h4>
              22 janvier 2024
              <address>
                <p>IAD Blocry, Grande Salle<br>
                Route de Blocry, 5<br>
                1348 Louvain-la-Neuve</p>
              </address>
            </div>
            <p><a class="c-ctalink" href="#">Inscriptions</a></p>

          </article>
        </li>
      </ul>


    </div>
  </div>

{% endblock %}
 