---
permalink: /ressources/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "resources" %}

{% block content %}

  <div class="c-section  c-section--pageintro">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Ressources</span> contacts</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <form>
        <input type="search">
        <input type="submit" value="rechercher">
      </form>

      <details>
        <summary>Filtrer par catégories</summary>
        <div>
          <ul>
            <li><a href="#">Toutes les catégories</a></li>
            <li><a href="#">Scénario</a></li>
            <li><a href="#">Production</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Eclairage</a></li>
            <li><a href="#">Matériel</a></li>
            <li><a href="#">Post-production</a></li>
            <li><a href="#">Décors</a></li>
            <li><a href="#">Coiffure et maquillage</a></li>
          </ul>
        </div>
      </details>

      <ul class="l-grid  l-grid--gap  l-grid--2cols@medium  l-grid--3cols@large">
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Vidéo</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Organisation</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Vidéo</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Organisation</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Vidéo</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Organisation</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Vidéo</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Organisation</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
      </ul>

      <div class="c-pagination">
        <ul class="c-pages">
          <li class="c-pages__item"><a class="c-pages__link" aria-label="first page" href="#">&larr;</a></li>
          <li class="c-pages__item"><a class="c-pages__link  is-active" href="#">1</a></li>
          <li class="c-pages__item"><a class="c-pages__link" href="#">2</a></li>
          <li class="c-pages__item"><a class="c-pages__link" href="#">3</a></li>
          <li class="c-pages__item"><a class="c-pages__link" aria-label="last page" href="#">&rarr;</a></li>
        </ul>
      </div>
      

    </div>
  </div>

{% endblock %}
 