---
permalink: /ressources/index.html
---

{% extends "layouts/base.njk" %}

{% set metaTitle = "Ressources"  %}
{% set metaDescription = "Cinéma, écologie et société: ressources, outils et liens" %}

{% set currentSection = "resources" %}

{% block content %}

  <div class="c-section">
    <div class="l-container">
      <h1 class="c-pagetitle"><span>Ressources</span>, Contacts</h1>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <form class="c-searchform">
        <input class="c-searchform__field" type="search">
        <input class="u-vhidden" type="submit" value="rechercher">
      </form>

      <details class="c-filters">
        <summary class="c-filters__trigger">{% include "svg/icon_filters.svg" %} Filtrer par catégories</summary>
        <div class="c-filters__content">

          <div>
            <ul class="c-categories">
              <li class="c-categories__item"><a class="c-categories__link  is-active" href="#">Toutes</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Scénario</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Production</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Transport</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Eclairage</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Matériel</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Post-production</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Décors</a></li>
              <li class="c-categories__item"><a class="c-categories__link" href="#">Coiffure et maquillage</a></li>
            </ul>
          </div>

        </div>
      </details>

      <p class="c-count">187 Ressources</p>

      <ul class="l-grid  l-grid--gap  l-grid--2cols@medium  l-grid--3cols@large">
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
        <li>
          <article class="c-resource">
            <p class="c-resource__type">Article</p>
            <h2 class="c-resource__title"><a href="#">Titre d'une ressource qui peut être relativement long en nombre de charactères</a></h2>
            <p class="c-resource__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores exercitationem vero, voluptatem dicta sequi corporis iste provident quis architecto molestiae dolores, nisi cupiditate voluptatum neque assumenda id. Praesentium, quo!</p>
          </article>
        </li>
      </ul>

      <div class="c-pagination">
        <ul class="c-pages">
          <li class="c-pages__item"><a class="c-pages__link" aria-label="first page" href="#">&larr;</a></li>
          <li class="c-pages__item"><a class="c-pages__link  is-active" href="#">1</a></li>
          <li class="c-pages__item"><a class="c-pages__link" href="#">2</a></li>
          <li class="c-pages__item"><a class="c-pages__link" href="#">3</a></li>
          <li class="c-pages__item"><a class="c-pages__link" aria-label="last page" href="#">&rarr;</a></li>
        </ul>
      </div>
      

    </div>
  </div>

{% endblock %}
 