// ===================================
// =half
// ===================================

.l-half {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: var(--grid-gutter);

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: ". content";
  }
}

.l-half > div {
  @include breakpoint(medium) {
    grid-area: content;
  }
}
