// ===================================
// =colors
// ===================================

:root {
  /* basic variables (not used in CSS) */
  --color-white: #ffffff;

  --color-gray-100: #010805;
  --color-gray-200: #1f2623;
  --color-gray-300: #5c615f;
  --color-gray-400: #7b7f7d;
  --color-gray-500: #bdbfbe;
  --color-gray-600: #d6d7d7;
  --color-gray-700: #e6e6e6;
  --color-gray-800: #fafafa;

  --color-green-main: #0ed17f;
  --color-green-dark: #0eaa69;
  --color-green-bright: #14e095;
  --color-green-washed: #d8f8ea;

  --color-ocher-main: #d1b20e;
  --color-ocher-dark: #b89d0c;
  --color-ocher-bright: #d2c532;
  --color-ocher-washed: #f5eeca;

  /* incident variables (used in CSS) */
  --color-bkg: var(--color-white);
  --color-text: var(--color-gray-100);
  --color-text-offset: var(--color-gray-400);

  --color-accent: var(--color-green-main);
  --color-accent-dark: var(--color-green-dark);
}
