// ===================================
// =colors
// ===================================

:root {
  /* basic variables (not used in CSS) */
  --color-white: #ffffff;

  --color-gray-100: #010805;
  --color-gray-200: #1f2623;
  --color-gray-300: #5c615f;
  --color-gray-400: #707573;
  --color-gray-500: #bdbfbe;
  --color-gray-600: #d6d7d7;
  --color-gray-700: #e6e6e6;
  --color-gray-800: #fafafa;

  --color-green-main: hsl(155, 87%, 44%);
  --color-green-dark: hsl(155, 83%, 29%);
  --color-green-bright: hsl(155, 87%, 48%);
  --color-green-washed: hsl(155, 87%, 99%);

  /* incident variables (used in CSS) */
  --color-background: var(--color-white);
  --color-text: var(--color-gray-100);
  --color-text-offset: var(--color-gray-400);

  --color-background-inverse: var(--color-gray-200);
  --color-text-inverse: var(--color-background);
  --color-text-offset-inverse: var(--color-gray-500);

  --color-pagination: var(--color-gray-700);
  --color-pagination-hover: var(--color-gray-600);
  --color-pagination-accent: var(--color-green-main);

  --color-accent: var(--color-green-main);
  --color-accent-washed: var(--color-green-washed);
  --color-accent-dark: var(--color-green-dark);
  --color-accent-bright: var(--color-green-bright);
}
