<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cinécolab</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <!-- JS -->
  <script type="module" src="/assets/js/main.bundle.js"></script>
</head>