<nav aria-label="navigation menu">
  <ul class="c-mobilenav">
    <li class="c-mobilenav__item">
      <a class="c-mobilenav__link" href="#">Ressources</a>
    </li>
    <li class="c-mobilenav__item">
      <a class="c-mobilenav__link" style="--delay: 1;" href="#">Formations</a>
    </li>
    <li class="c-mobilenav__item">
      <a class="c-mobilenav__link" style="--delay: 2;" href="#">Blog</a>
    </li>
    <li class="c-mobilenav__item">
      <a class="c-mobilenav__link" style="--delay: 3;" href="#">À Propos</a>
    </li>
  </ul>
</nav>