<nav aria-label="navigation menu">
  {% for item in mainnav %}
    {% if loop.first %}<ul class="c-mobilenav">{% endif %}

      {% set currentClass = "" %}
      {% set currentAria = "" %}
      {% if currentSection == item.navTrigger %}
        {% set currentClass = "is-active" %}
        {% set currentAria = "aria-current=\"page\""|safe %}
      {% endif %}

      {% set delay = loop.index %}

      <li class="c-mobilenav__item">
        <a class="c-mobilenav__link  {{ currentClass }}" style="--delay: {{ delay }};" {{ currentAria }} href="{{ item.navUrl }}">{{ item.navLabel }}</a>
      </li>
      
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</nav>