<div class="c-mobilemenu js-mobilemenu">
  <div class="c-mobilemenu__header">
    <p class="c-mobilemenu__logo">
      <a href="/">{% include "svg/logo.svg" %}</a>
    </p>
    <div class="c-mobilemenu__actions">
      <button class="c-mobilemenu__action js-menutrigger">{% include "svg/icon_close.svg" %}</button>
    </div>
  </div>
  <div class="c-mobilemenu__main">
    {% include "partials/mobilenav.njk" %}
  </div>
</div>