<footer class="c-sitefooter">
  <div class="l-container">

    <div class="c-sitefooter__content">
      <div class="c-sitefooter__quote">
        <p class="c-footerquote"><span>Repenser le cinéma</span> au regard des enjeux écologiques et sociétaux</p>
      </div>

      <div class="c-sitefooter__nav">
        {% include "partials/footernav.njk" %}
      </div>

      <div class="c-sitefooter__social">
        <nav aria-label="Média sociaux">
          <h2 class="c-footertitle">Média sociaux</h2>
          <ul class="c-footernav">
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Mastodon</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Instagram</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Youtube</a></li>
          </ul>
        </nav>
      </div>

      <div class="c-sitefooter__end">
        <p class="c-copyright">&copy; Cinécolab 2023 - Tous droits réservés</p>
      </div>
    </div>

  </div>
</footer>