<footer>
  <div class="l-container">
    
    <p>Repenser le cinéma au regard des enjeux écologiques et sociétaux</p>

    <nav>
      <h2>Navigation</h2>
      <ul>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Formations</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">A propos</a></li>
      </ul>
    </nav>

    <nav>
      <h2>Média sociaux</h2>
      <ul>
        <li><a href="#">Mastodon</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Youtube</a></li>
      </ul>
    </nav>

    <p>&copy; Cinécolab 2023 - Tous droits réservés</p>

  </div>
</footer>