<header class="c-siteheader">
  <div class="c-siteheader__content l-container">
    <p class="c-siteheader__logo">
      <a href="/">{% include "svg/logo.svg" %}</a>
    </p>
    <div class="c-siteheader__mainnav">
      {% include "partials/mainnav.njk" %}
    </div>
    
    <p class="c-siteheader__hamburger">
      <a href="#footernav" class="js-menutrigger">
        {% include "svg/icon_nav.svg" %}
      </a>
    </p>
  </div>
  {% include "partials/mobilemenu.njk" %}
</header>
