<header>
  <div class="l-container">
    <p>{% include "svg/logo.svg" %}</p>
    <nav>
      <ul>
        <li><a href="#">Ressources</a></li>
        <li><a href="#">Formations</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">A propos</a></li>
      </ul>
    </nav>
  </div>
</header>