<footer class="c-sitefooter">
  <div class="l-container">

    <div class="c-sitefooter__content">
      <div class="c-sitefooter__quote">
        <p class="c-footerquote"><span>Repenser le cinéma</span> au regard des enjeux écologiques et sociétaux</p>
      </div>

      <div class="c-sitefooter__nav">
        <nav>
          <h2 class="c-footertitle">Navigation</h2>
          <ul class="c-footernav">
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Resources</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Formations</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Blog</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">A propos</a></li>
          </ul>
        </nav>
      </div>

      <div class="c-sitefooter__social">
        <nav>
          <h2 class="c-footertitle">Média sociaux</h2>
          <ul class="c-footernav">
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Mastodon</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Instagram</a></li>
            <li class="c-footernav__item"><a class="c-footernav__link" href="#">Youtube</a></li>
          </ul>
        </nav>
      </div>

      <div class="c-sitefooter__end">
        <p>&copy; Cinécolab 2023 - Tous droits réservés</p>
      </div>
    </div>

  </div>
</footer>